body {
    font-family: Georgia, 'Times New Roman', Times, serif Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.align-right {
    max-width: fit-content;
    margin-left: auto;
}

.align-right > input{
    border: 3px solid #cc0000;
    border-radius: 3px;
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}
.container > div {
    padding: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.container > div input {
    flex-grow: 1;
}

.container > div button {
    background-color: #15ddda;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.column-names {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    border-bottom: 1px solid #141414;
}

.column-names span {
    flex-grow: 1;
    text-align: start;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0; /* Set margin to zero */
    padding: 0 10px; /* Adjust padding as needed */
    border-bottom: 1px solid #ddd;
}


li span:first-child {
    font-weight: bold; /* Make only the first span (sr. no.) bold */
}

li button {
    background-color: #ff4444;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 8px; /* Adjust padding for edit and delete buttons */
    cursor: pointer;
}

li button:hover {
    background-color: #cc0000;
}
